<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>

  {% for project in collections.projects %}
  <div class="gallery__item">
    <div class="image-container">
      <a href="{{ project.url }}" class="video-link">
        <img
          src="{{ project.data.images[0] | default: '/assets/img/og-image.jpg' }}"
          alt="Image for {{ project.data.title }}"
          class="gallery__image"
          loading="lazy"
        />

        <div class="hover-overlay">
          <p class="gallery__title no-animation">
            <b>{{ project.data.title }}</b>
          </p>
          <p class="gallery__subtitle">{{ project.data.subhed }}</p>
        </div>
      </a>
    </div>
    <div class="image-title">
      <a href="{{ project.url }}">
        <h2 class="gallery__title">
          {{ project.data.title }}{% if project.data.subhed %} | {{
          project.data.subhed }}{% endif %}
        </h2>
      </a>
    </div>
  </div>
  {% endfor %}
</section>
