<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light" />

    <title>
      {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <!-- SEO -->

    <meta
      name="description"
      content="{% if subtitle %}{{ subtitle }}{% else %}{{ site.description }}{% endif %}"
    />

    <meta
      property="og:title"
      content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if subtitle %}{{ subtitle }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url | url }}" />
    <meta
      property="og:image"
      content="{{ site.url }}{% if image %}{{ image }}{% else %}/assets/img/og-image.jpg{% endif %}"
    />

    <meta property="og:type" content="website" />

    <!-- Favicon -->

    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Zam Ortega" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/assets/css/pico.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css"
    />

    <script>
      document.documentElement.setAttribute("data-theme", savedTheme);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e8dfcc71-0279-409b-8a43-6df26456cfe7"
    ></script>
  </head>
  <body>
    <a href="#main" class="visually-hidden">Skip to main content</a>
  </body>
</html>
