---
layout: "layouts/project.njk"
title: "Coloring Book"
subtitle: "Mini coloring zine."
images:
  - "/assets/img/projects/Anti Fascist Coloring Book/Front-and-Back-coloring-book.jpg"
  - "/assets/img/projects/Anti Fascist Coloring Book/AF-Coloring-Book-3-4.jpg"
  - "/assets/img/projects/Anti Fascist Coloring Book/AF-Coloring-Book-5-6.jpg"
  - "/assets/img/projects/Anti Fascist Coloring Book/AF-Coloring-Book-6-7.jpg"
order: 8
year: 2024
---

<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>

<p>
  This mini zine was created as a Christmas gift for my little sister. Every
  time I visit home, I find coloring crayons and pencils scattered around, so I
  thought this gift would give her a chance to put them to use.
</p>

<div class="side-by-side">
  <h2>Process</h2>
  <p>
    The concept came together quite quickly and I began sketching and those
    sketches turned into the final drafts with tweaks and cleaner lines of
    course. I wanted the coloring book to be quite rough but interactive and
    silly.
  </p>
</div>
<img
  src="/assets/img/projects/Anti Fascist Coloring Book/Zine_Cover_N_Back copy.webp"
  alt=""
/>

<img
  src="/assets/img/projects/Anti Fascist Coloring Book/Zine_2 copy.webp"
  alt=""
/>
<img
  src="/assets/img/projects/Anti Fascist Coloring Book/Zine_1 copy.webp"
  alt=""
/>
<img
  src="/assets/img/projects/Anti Fascist Coloring Book/Zine_3 copy.webp"
  alt=""
/>
