---
layout: "layouts/project.njk"
title: "Bloom Bomb"
subtitle: Bloom Bomb is a seed bomb product that I designed and constructed, including its packaging and brand identity.
images:
  - "/assets/img/projects/Bloom Bomb/3-Box-Mockup.jpg"
  - "/assets/img/projects/Bloom Bomb/Final - Exhbition2.jpeg"

order: 3
year: 2025
---

<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      Bloom Bomb is a seed bomb product that I designed and constructed,
      including its packaging and brand identity. Created in winter 2025, the
      goal was to develop a conceptual and marketable product suitable for sale.
      Demonstrating my abilities in packaging design, hands-on construction, and
      guiding a concept through to production, this project emphasizes
      originality, creativity, and the distinction between unique creations and
      mass-produced items.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Packaging</li>
      <li>Construction</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>

<h2>Process</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/Bloom Bomb/Sketch - Brain Storm.jpeg" alt="" />
  <img
    src="/assets/img/projects/Bloom Bomb/Draft - BB Construction.jpeg"
    alt=""
  />
</div>
<p>
  Beginning the brainstorming process was challenging, as my idea needed
  approval from my professor to ensure it was creative and engaging enough for
  production. I compiled all my ideas in my sketchbook, briefly describing their
  intended appearance. My seed bomb pitch stood out as more engaging and sparked
  more questions. After the initial consultation, I began considering the visual
  direction.
</p>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Bloom Bomb/Sketch - Visual Direction.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/Bloom Bomb/Sketch - Construction.jpeg"
    alt=""
  />
  <p>
    I considered two very different directions for this concept: a metal, grungy
    aesthetic or a softer look to contrast with the product itself. The
    combination of gentle, organic typography with the image of a grenade
    created a striking and intriguing visual contrast.
  </p>
</div>
<h2>Illustations</h2>
<div class="side-by-side">
  <img src="/assets/img/projects/Bloom Bomb/Sketch - Bottom_bomb.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Front - Art.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Bottom - Art.jpeg" alt="" />
</div>
<h2>Version 1</h2>
<div class="side-by-side">
  <img src="/assets/img/projects/Bloom Bomb/Bomb - WIP 1.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Bomb - WIP 2.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Bomb - WIP 3.jpeg" alt="" />
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/Bloom Bomb/Round 1 - 1.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Round 1 - 2.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Round 1 - 3.jpeg" alt="" />
</div>
<h2>Final Version</h2>
<div class="side-by-side">
  <img src="/assets/img/projects/Bloom Bomb/Final - Exhbition2.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Final -Laying Flat.jpeg" alt="" />
  <img src="/assets/img/projects/Bloom Bomb/Final - Exhbition 3.jpeg" alt="" />
</div>
