---
layout: "layouts/project.njk"
title: "Cat Cafe"
subhed: "Poster Design"
subtitle: "Created marketing materials for the annual Cat Cafe event."
images:
  - "/assets/img/projects/Cat Cafe/Cat-Cafe-Mockup.jpg"
  - "/assets/img/projects/Cat Cafe/Cat Cafe next to dogs.jpeg"
  - "/assets/img/projects/Cat Cafe/Cat Cafe Quarter Sheet2.jpeg"

order: 8
year: 2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      In mid-April 2025, I was approached by the event coordinator to create
      marketing materials for the annual Cat Cafe event. As part of Mental
      Health Awareness Month, Neko Cat Café hosted a cozy, relaxing evening with
      furry feline friends.
    </p>
    <p>
      I had the opportunity to develop a fresh visual style for the event,
      aiming to create something unique and memorable. Drawing inspiration from
      mid-century modern design and minimalist yet bold aesthetics, I crafted a
      look that set this Cat Cafe event apart.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Visual Direction</li>
      <li>Graphic Design</li>
      <li>Illustration</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>
<h2>Sketches</h2>
<p>
  My initial sketches explored four different concepts: two cats sharing a kiss,
  cats on shelves, cats separated by an invisible grid, and cats on a windowsill
  surrounded by greenery and outdoor elements.
</p>
<div class="side-by-side">
  <img src="/assets/img/projects/Cat Cafe/Cat Cafe Sketches 1.jpeg" alt="" />
  <img src="/assets/img/projects/Cat Cafe/Cat Cafe Sketches 2.jpeg" alt="" />
</div>
<p>
  After discussing with the event coordinator, we decided to merge the shelves
  concept with the spaced-out grid approach. This combination allowed for an
  airy composition and provided space for the elements and information to
  interact in a dynamic way.
</p>
<h2>Digitizing</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/Cat Cafe/Coffee_Bean.png" alt="" />
  <img src="/assets/img/projects/Cat Cafe/Crosant_.png" alt="" />
  <img src="/assets/img/projects/Cat Cafe/Beans_Beans_Beans.png" alt="" />
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/Cat Cafe/Tea_Pot.png" alt="" />
  <img src="/assets/img/projects/Cat Cafe/Moka_Pot.png" alt="" />
  <img src="/assets/img/projects/Cat Cafe/Coffee_mug_ 2.png" alt="" />
</div>
<p>
  I initially illustrated many elements, but my main concern was overwhelming
  the composition. Since this event poster needed to captivate a student
  audience at a fleeting glance, I decided to minimize the main illustrations. I
  leaned into a Bauhaus-inspired style, rather than the prominent mid-century
  modern look I originally envisioned, to achieve a cleaner and more impactful
  design.
</p>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Cat Cafe/Cat Cafe STCN 1st Floor.jpeg"
    alt=""
  />
  <img src="/assets/img/projects/Cat Cafe/Cat Cafe Quarter Sheet.jpeg" alt="" />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Cat Cafe/Cat-Cafe-Connect-SU-Banner.png"
    alt=""
  />
  <img
    src="/assets/img/projects/Cat Cafe/Cat-Cafe-Connect-SU-Banner-in-WEB.jpg"
    alt=""
  />
</div>

<img
  class="center"
  src="/assets/img/projects/Cat Cafe/Cat Cafe 24 x 36.jpeg"
  alt=""
/>
