---
layout: "layouts/project.njk"
title: "Cats Cats Cats"
images:
  - "/assets/img/projects/Cats/CCC-Zine-Mockup.jpg"
  - "/assets/img/projects/Cats/IMG_1378 Large.jpeg"

order: 7
year: 2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<p>From Maz Press. Created during zine class Spring 2024.</p>
<h2>Spreads</h2>

<div class="side-by-side"></div>
<img src="/assets/img/projects/Cats/Old-Wizard-Spread.jpg" alt="" />
<img src="/assets/img/projects/Cats/Telescope-Spread.jpg" alt="" />
<img src="/assets/img/projects/Cats/Cauldron-Spread.jpg" alt="" />
<img src="/assets/img/projects/Cats/Crystals-Spread.jpg" alt="" />
<img src="/assets/img/projects/Cats/Candles-Spread.jpg" alt="" />
<img src="/assets/img/projects/Cats/Potions-Spread.jpg" alt="" />
