---
layout: "layouts/project.njk"
title: "Good Loser Brand Identity"
subtitle: "Good Loser is a premium physical media subscription service designed for nostalgia lovers."
images:
  - "/assets/img/projects/Good Loser/Mockup---Round-Corners.jpg"
  - "/assets/img/projects/Good Loser/Mockup-Stationary.jpg"
  - "/assets/img/projects/Good Loser/Mockup---Round-Corners2.jpg"
order: 3
year: 2024
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      Good Loser is a premium physical media subscription service designed for
      nostalgia lovers. It meant to be a disruption in the system that has
      normalized not owning any of your media. With many companies continually
      raising their prices, customers are growing increasingly frustrated, with
      the lack of originality, creativity, or appealing content. What is
      supposed to be convenient becomes more and more bothersome.
    </p>
    <p>
      At Good Loser, we believe it’s time for a change. It’s time to experience
      music in a way that actually matters. By owning it—truly owning it—your
      money goes directly to the artists who create, rather than fueling endless
      corporate profits. It’s about giving control back to the listeners and
      supporting the talent behind the music. In the end, Good Loser is not just
      a service; it’s a return to the joy of owning something tangible,
      meaningful, and lasting.
    </p>
  </div>
  <div class="project__info-R">
    <ul>
      <li>Brand Identity</li>
      <li>Graphic Design</li>
      <li>Creative Direction</li>
    </ul>
  </div>
</div>
<img src="/assets/img/projects/Good Loser/Good Loser Cover Image.png" alt="" />
<h2>Style Guide</h2>

<img
  src="/assets/img/projects/Good Loser/Good-Loser-Color-Sheet.png"
  alt="Color guide for Good Loser"
/>
<img
  src="/assets/img/projects/Good Loser/Good-Loser-typefaces.png"
  alt="Typeface Guide, The two main typefaces listed are Bicyclette Bold and Neulis Neue Light"
/>
<img
  src="/assets/img/projects/Good Loser/Good-Loser-Icons.png"
  alt="Icons used within the brand scattered"
/>
<div class="side-by-side">
  <h2>Process</h2>
  <p>
    Good Loser as a concept originated during my time at a local community
    college. I was tasked with creating a company of my choosing and creating
    some branding for it. I later developed the identity while at university and
    submitted the final rendition into my senior year exhibition.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/Good Loser/annotated-Good Loser Brand Guide-Original Logo.webp"
    alt="Final drafts include the good lsoer word mark and the loser hand icon."
  />
  <img
    src="/assets/img/projects/Good Loser/annotated-Good Loser Brand Guide-Color Guide.webp"
    alt="The colors include royal blue (#21409a) bright red (#ed1c24) bold yellow (#ffde17)"
  />
</div>
<p>
  The initial iterations of this project were early and unrefined. I had a big
  idea but lacked the experience to fully develop it at the time. My
  understanding of logos was still developing as well as my understanding of
  color, and I aimed to create something beyond my at the time skillset.
</p>
<img
  src="/assets/img/projects/Good Loser/Good-Loser-1D-2D.png"
  alt="The colors include royal blue (#21409a) bright red (#ed1c24) bold yellow (#ffde17)"
/>
<div class="side-by-side">
  <p>
    The developing versions of this brand identity are on the left and right. On
    the left is the first attempt to revive this project. I tried to hold onto
    the initial colors as well as the strong retro feel that comes with owning
    vinyl.
  </p>
  <p>
    On the right is the final version depicting final colors, logo, and
    typefaces. I changed the vision of this project. I wanted to hold nostalgia
    but also the snobbiness that comes with being a music freak.
  </p>
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/Good Loser/Round 1 Colors.jpeg" alt="" />
  <img src="/assets/img/projects/Good Loser/Round 1 Typeface.jpeg" alt="" />
  <img src="/assets/img/projects/Good Loser/Round 1 Pins.jpeg" alt="" />
</div>
<img src="/assets/img/projects/Good Loser/Good-Loser-1D---Colors.png" alt="" />
<img
  src="/assets/img/projects/Good Loser/Good-Loser-1D---Layouts-and-pins.png"
  alt=""
/>
<div class="side-by-side">
  <img src="/assets/img/projects/Good Loser/Round 2 Mounting.jpeg" alt="" />
  <img src="/assets/img/projects/Good Loser/Round 2 Exhbition.jpeg" alt="" />
  <img src="/assets/img/projects/Good Loser/Round 2 assets.jpeg" alt="" />
</div>
<img src="/assets/img/projects/Good Loser/Good-Loser-2D---Colors.png" alt="" />

<div class="side-by-side">
  <img
    src="/assets/img/projects/Good Loser/Good-Loser-2D---Layouts-and-pins.png"
    alt=""
  />
</div>
