---
layout: "layouts/project.njk"
title: "Sexual Assault Assault Awareness Month"
subhed: "Sticker Sheet"
subtitle: "Designed stickers to distribute at an informational event about consent and boundaries, tailored for a university student audience."
images:
  - "/assets/img/projects/Wellness and Health Promotion/Cookies and Consent/Cookies-and-Consent-Stickers-Final.jpg"
  - "/assets/img/projects/SAAM Sticker Sheet/Sticker Bottle 1.jpeg"
  - "/assets/img/projects/SAAM Sticker Sheet/SAAM Sticker Sheet in plastic.jpeg"
  - "/assets/img/projects//SAAM Sticker Sheet/Many Sticker Sheet.jpeg"
  - "/assets/img/projects/SAAM Sticker Sheet/Annas Bottle.jpeg"
  - "/assets/img/projects/SAAM Sticker Sheet/Printng Process 1.jpeg"
  - "/assets/img/projects/SAAM Sticker Sheet/Printing Process 3.jpeg"
  - "/assets/img/projects/SAAM Sticker Sheet/Printing Process 2.jpeg"

order: 3
year: 2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      In January 2025, I learned about a "Cookies and Consent" event for Love
      Month, where stickers would be handed out. Excited by the idea, I
      volunteered to design the stickers for the event.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Creative Direction</li>
      <li>Illustration</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>
<img
  src="/assets/img/projects/SAAM Sticker Sheet/Holding Stickers first time.jpeg"
  alt=""
/>
<h2>Project Brief</h2>

<p>
  Design stickers to distribute at an informational event about consent and
  boundaries, tailored for a university student audience. The project was to be
  completed within a two and a half week turnaround time.
</p>
<h2>First Sketches</h2>

<div class="side-by-side">
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Sketches Cookies and Consent 1.jpg"
    alt=""
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Sketches Cookies And Consent 2.jpeg"
    alt=""
  />
  <p>
    From these initial sketches, we decided that if we included a "No means No"
    sticker, we should also have a "Yes means Yes" version. We moved away from
    the "Consent is Sexy" concept and refined the "Love, Respect, Consent"
    design. The "Can I kiss you?" sticker is a playful reference to the Frog
    Prince tale, and the bunny was reworked into its own, more fitting sticker.
  </p>
</div>
<h2>Final Sketches</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Bunnies Sketch.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Cats Against Cat Calls Sketch.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/No means No Sketch.jpeg"
    alt=""
  />
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/SAAM Sticker Sheet/LRC Sketch.jpeg" alt="" />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Yes Means Yes Sketch.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Can I Kiss You Sketch.jpeg"
    alt=""
  />
</div>
<p>
  From the initial sketches, I moved into some more refined sketches, focusing
  on clarity and visual appeal. Each concept was iterated on to better
  communicate the intended message and to ensure the designs would resonate with
  the target audience.
</p>
<h2>Final Stickers</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final Bunniez4Boundaries.jpeg"
    alt="Bunnies for Boundaries. Final Version"
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final CatsAgainstCatcalls.jpeg"
    alt="Cats Against Catcalls. Final verison"
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final Frog.jpeg"
    alt="Can I Kiss You? Final version"
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final RespectLoveConsent.jpeg"
    alt="Respect Love Consent. Final Version"
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final YesMeansYes.jpeg"
    alt="Yes means Yes. Final version"
  />
  <img
    src="/assets/img/projects/SAAM Sticker Sheet/Final NoMeansNo.jpeg"
    alt="No means No. Final version"
  />
</div>

<img
  src="/assets/img/projects/SAAM Sticker Sheet/Stickers among resources.jpeg"
  alt=""
/>
