---
layout: "layouts/project.njk"
title: "The Spectator"
subhed: "Editorial"
subtitle: "Lead designer and layout team member for Seattle University's student-run newspaper, The Spectator, collaborating on editorial projects and guiding a team of designers."
images:
  - "/assets/img/projects/The Spectator/Spec_TitleCard.jpg"
  - "/assets/img/projects//The Spectator/Zam-on-the-cover.jpg"
  - "/assets/img/projects/The Spectator/Cozy Spectator.jpeg"
  - "/assets/img/projects/The Spectator/Join Us Stack.jpeg"
  - "/assets/img/projects//The Spectator/The Spectator wall of issues.jpeg"
  - "/assets/img/projects/The Spectator/Vortext Feature Stack.jpeg"

order: 4
year: 2023-2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      The Spectator is Seattle University's student-run newspaper. I joined The
      Spectator in fall 2023 as a volunteer designer and became a staff designer
      in winter quarter. I developed the ability to work efficiently under tight
      deadlines, collaborated with the editorial layout team, and became
      proficient in applying the brand guidelines.
    </p>
    <p>
      In 2024-2025, I stepped into the role of lead designer, collaborating with
      the editorial team to coordinate design projects and guide a talented
      group of three layout designers through lively layout nights. I also had
      the exciting opportunity to create a new logo for a campus podcast, Cherry
      Street Chat.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Team Lead</li>
      <li>Editorial</li>
      <li>Graphic Design</li>
      <li>Illustration</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>

<h2>Front page features</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/The Spectator/The Spectator Tweek Cover Large.jpeg"
    alt=""
  />
  <img src="/assets/img/projects/The Spectator/Vortex Cover.jpg" alt="" />
  <img
    src="/assets/img/projects/The Spectator/Trans Housing Cover Large.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/The Spectator/The Spetator Pride Feature Cover.jpeg"
    alt=""
  />
</div>
<h2>Illustations</h2>
<div class="side-by-side">
  <figure>
    <a
      href="https://seattlespectator.com/2024/11/20/flipped-classes-or-flipped-learning/"
      target="_blank"
    >
      <img src="/assets/img/projects/The Spectator/Flipped_Classes.webp" alt=""
    /></a>
    <figcaption>
      Flipped Classes or Flipped Learning? [November 20, 2024]
    </figcaption>
  </figure>
  <figure>
    <a
      href="https://seattlespectator.com/2025/05/14/a-case-for-pickleball-opinion/#"
      target="_blank"
    >
      <img
        src="/assets/img/projects/The Spectator/Pickleball_Design.webp"
        alt=""
      />
    </a>

    <figcaption>A Case For Pickleball [May 14, 2025]</figcaption>
  </figure>
</div>
<figure>
  <a
    href="https://seattlespectator.com/2025/01/29/the-state-of-higher-education-in-2025/"
    target="_blank"
  >
    <video autoplay muted loop playsinline>
      <source
        src="/assets/img/projects/The Spectator/HigherEducation_IG.webm"
        type="video/webm"
      />
      <source
        src="/assets/img/projects/The Spectator/HigherEducation_IG_h264_preview.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </a>
  <figcaption>
    The State of Higher Education in 2025 [January 29, 2025], Animation by
    <a href="https://tifajade.com" target="_blank">Tifa Jade</a>
  </figcaption>
</figure>
<div class="side-by-side">
  <img
    src="/assets/img/projects/The Spectator/Higher Education 3.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/The Spectator/Higher Education 2.webp"
    alt=""
  />
</div>
<figure>
  <a
    href="https://seattlespectator.com/2024/11/20/highlighting-trans-awareness-week-in-politically-dark-times/"
    target="_blank"
  >
    <video autoplay muted loop playsinline>
      <source
        src="/assets/img/projects/The Spectator/Tweek_zam_animated.webm"
        type="video/webm"
      />
      <source
        src="/assets/img/projects/The Spectator/Tweek_zam_animated_h264_crf21.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </a>
  <figcaption>
    Highlighting Trans Awareness Week in Politically Dark Times [November 20,
    2024], Animation by
    <a href="http://tifajade.com" target="_blank" rel="noopener noreferrer"
      >Tifa Jade</a
    >
  </figcaption>
</figure>

<img src="/assets/img/projects/The Spectator/Tweek_zam_ 2.png" alt="" />

<div class="side-by-side">
  <figure>
    <a
      href="https://seattlespectator.com/2024/10/09/the-substance-shocking-vomit-inducing-and-brilliant-review-spoilers/"
      target="_blank"
    >
      <img src="/assets/img/projects/The Spectator/TSR COLOR.webp" alt="" />
    </a>
    <figcaption>
      “The Substance”: Shocking, Vomit-Inducing and Brilliant [October 9, 2024]
    </figcaption>
  </figure>

  <figure>
    <a
      href="https://seattlespectator.com/2025/02/12/kendrick-lamars-super-bowl-halftime-show-was-a-performance-of-culture-and-revolution/"
      target="_blank"
    >
      <img
        src="/assets/img/projects/The Spectator/SuperbowlHalftimeshow.webp"
        alt=""
      />
    </a>
    <figcaption>
      Kendrick Lamar’s Super Bowl Halftime Show Was A Performance of Culture and
      Revolution [February 12, 2025]
    </figcaption>
  </figure>
</div>
<div class="side-by-side">
  <figure>
    <a
      href="https://seattlespectator.com/2025/05/07/trans-students-struggle-to-secure-safe-housing/"
      target="_blank"
    >
      <img src="/assets/img/projects/The Spectator/Trans_Housing.webp" alt="" />
    </a>
    <figcaption>
      Trans Students Struggle to Secure Safe Housing [May 7, 2025]
    </figcaption>
  </figure>
  <figure>
    <a
      href="https://seattlespectator.com/2025/05/07/trans-students-struggle-to-secure-safe-housing/"
      target="_blank"
    >
      <img
        src="/assets/img/projects/The Spectator/Trans_Housing_Small.webp"
        alt=""
      />
    </a>
    <figcaption>
      Trans Students Struggle to Secure Safe Housing [Supporting Element]
    </figcaption>
  </figure>
</div>

<div class="side-by-side">
  <figure>
    <a
      href="https://seattlespectator.com/2025/03/12/breaking-news-on-break-seattle-u-considers-academic-schedule-change/"
      target="_blank"
    >
      <img
        src="/assets/img/projects/The Spectator/Academic Year Change.webp"
        alt=""
      />
    </a>
    <figcaption>
      Breaking News on Break: Seattle U Considers Academic Schedule Change
      [March 12, 2025]
    </figcaption>
  </figure>
  <figure>
    <a
      href="https://seattlespectator.com/2024/05/01/pro-palestinian-protests-across-u-s-prompt-free-speech-questions-at-seattle-u/"
      target="_blank"
    >
      <img
        src="/assets/img/projects/The Spectator/Free Speech on Campus.jpeg"
        alt=""
      />
    </a>
    <figcaption>
      Pro-Palestinian Protests Across U.S. Prompt Free Speech Questions at
      Seattle U [May 1, 2024]
    </figcaption>
  </figure>
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/The Spectator/Zams_Opinion.webp" alt="" />
  <img
    src="/assets/img/projects/The Spectator/whole chikn WEB copy.webp"
    alt=""
  />
</div>
<img
  class="center"
  src="/assets/img/projects/The Spectator/Spectator Stand.jpeg"
  alt=""
/>
