---
layout: "layouts/project.njk"
title: "Wellness Cafe Food Pantry"
images:
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Large-Logo.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Cucumber.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Onion.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Carrot.jpg"

order: 6
year: 2024
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      I joined as a graphic designer for Seattle University's Wellness and
      Health Promotion office in June 2024, developing the brand identity for
      their food pantry. During the summer of 2024, I observed and participated
      in pantry operations while designing the logo.
    </p>
    <p>
      My goal in designing the logo for the food pantry was to create an
      inclusive identity that could stand alone as its own university
      department, reflecting the pantry's growth and its need for a dedicated
      space on campus. I considered both the university audience and the
      potential for future expansion.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Creative Direction</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>
<h2>Sketches</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Sketch - 1.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Sketch - 2.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Sketch - 3.jpeg"
    alt=""
  />
</div>
<p>
  Yippe Sketches! These represent my early explorations for the Wellness Cafe
  Food Pantry logo. Some were created later in the process, especially after
  encountering creative blocks. Experimenting with acrylic markers allowed me to
  visualize how vibrant colors might enhance the brand’s identity. Through these
  sketches, I explored different icons and visual motifs, searching for a symbol
  or set of icons that truly resonated with the pantry’s mission and
  personality.
</p>
<h2>Progress</h2>

<div class="side-by-side">
  <p>
    In the early stages, I explored visual directions to test different
    typographic and color treatments. While these drafts lacked refinement, they
    helped identify what resonated with the brand's tone. These intentionally
    unpolished concepts allowed me to experiment with visual hierarchy and brand
    personality.
  </p>
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/First Draft-wcfp.png"
    alt="First draft of Wellness Cafe Food Pantry logo"
  />
</div>
<h2>Second Drafts</h2>
<img
  style="width: 60%; margin: 0 auto"
  src="/assets/img/projects/Wellness Cafe Food Pantry/Draft - BnW Outlines.jpeg"
  alt=""
/>

<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Draft - Color Outline.png"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Draft - Color Fill.png"
    alt=""
  />
</div>
<p>
  After the first critique, I gained a clearer understanding of the project's
  needs. In this updated draft, I experimented more and created detailed
  illustrations, exploring the iconography I wanted for the logo. With organic
  forms in mind, I aimed to balance realistic shapes with abstract elements.
</p>
<h2>Typography</h2>

<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/TYPE--D1.jpg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/TYPE -D2.png"
    alt=""
  />
</div>

<p>
  Typography was a bit challenging, as I wasn't sure what feeling was most
  appropriate. I initially chose a typeface with a distressed look, but this
  became an issue when considering mass production and branding. This led me to
  select a clean and easy-to-read typeface.
</p>
<img
  src="/assets/img/projects/Wellness Cafe Food Pantry/Draft---Typography-Finalization.jpg"
  alt=""
/>
<h2>Composition</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Process---Composition-1.jpg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Process---Composition-2.jpg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Process---Composition-3.jpg"
    alt=""
  />
</div>
<p>
  Composition proved challenging because I wanted to incorporate many elements,
  which made it difficult to settle on a clear direction. I found myself needing
  to simplify my ideas to avoid overwhelming the design. Through this process, I
  learned the importance of prioritizing key visual components and creating a
  balanced layout that communicates the brand’s message effectively.
</p>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Process---Composition-4.jpg"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Process---Composition-5.jpg"
    alt=""
  />
</div>
<h2>Final</h2>
<div class="side-by-side">
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Logos_WCFP Carrot.png"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Logos_WCFP Cucumber.png"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Logos_WCFP Onion.png"
    alt=""
  />
  <img
    src="/assets/img/projects/Wellness Cafe Food Pantry/Logos_WCFP Blueberries.png"
    alt=""
  />
</div>
<p>
  Designing this logo was my first experience with branding and identity, filled
  with both learning and growth. Taking on the graphic designer role, I
  navigated new challenges and responsibilities. I'm grateful for the
  opportunity to create a visual identity that supports the Wellness Cafe Food
  Pantry’s mission.
</p>
