---
layout: "layouts/project.njk"
title: "Wellness Cafe Food Pantry"
images:
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Large-Logo.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Cucumber.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Onion.jpg"
  - "/assets/img/projects/Wellness Cafe Food Pantry/Mockup-Carrot.jpg"

order: 6
year: 2024
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      I joined as a graphic designer for Seattle University's Wellness and
      Health Promotion office in June 2024, developing the brand identity for
      their food pantry. During the summer of 2024, I observed and participated
      in pantry operations while designing the logo.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Creative Direction</li>
      <li>Brand Identity</li>
    </ul>
  </div>
</div>

<h2>Projects</h2>

<div class="side-by-side">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione earum
    corrupti consectetur labore, voluptatibus rerum neque quod dicta ad vero
    nesciunt! Numquam distinctio adipisci, officia, necessitatibus consectetur
    repellendus odit doloremque maiores facilis esse autem nobis itaque veniam
    quis animi dolores.
  </p>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, odit!
    Eligendi illum inventore laudantium dicta qui repudiandae optio
    reprehenderit veritatis odio iure quibusdam delectus nemo tempora nisi,
    consequatur ipsa, velit quaerat, quisquam pariatur nam. Odit?
  </p>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
