---
layout: "layouts/project.njk"
title: "Walla Walla Union Bulletin"
subtitle: "Walla Walla Union Bulletin is a regional newspaper offering local and national news coverage, providing print and digital content to its
community in Eastern Washington."
images:
  - "/assets/img/projects/WWUB/WWUB_Print1.jpeg"
 

order: 9
year: 2025-2026
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      Designed daily print and digital newspaper layouts, collaborating closely
      with editors and newsroom staff to deliver cohesive, engaging visual
      storytelling. Managed page production and press-ready files, ensuring
      accuracy and on-time publication. Contributed to the publication’s visual
      identity through logo design, illustrations, graphics, and feature photo
      treatments while maintaining high design and content standards across all
      editions.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Editorial Layout</li>
      <li>Maintaning Brand Identity</li>
    </ul>
  </div>
</div>

<h2>Front page features</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/WWUB/Medicaid_A1_FinalLayout.jpg"" />
  <img src="/assets/img/projects/WWUB/Top10_A1_FinalLayout.jpg" alt="" />
</div>

<h2>Inside Layouts</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/WWUB/Exp_Bygone_Oct112025_FinalLayout.jpg"" />
  <img src="/assets/img/projects/WWUB/Exp_Col_Oct2025_FinalLayout.jpg" alt="" />
  <img
    src="/assets/img/projects/WWUB/Exp_Bygone_Oct2025_FinalLayout.jpg"
    alt=""
  />
</div>
