---
layout: "layouts/project.njk"
title: "Walla Walla Union Bulletin"
subhed: "Editorial, Illustration"
subtitle: "Walla Walla Union Bulletin is a regional newspaper offering local and national news coverage, providing print and digital content to its
community in Eastern Washington."
images:
  - "/assets/img/projects/WWUB/WWUB_TitleCard.jpg"
order: 1
year: 2025-Current
---


<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      Designing daily print and digital newspaper layouts, collaborating closely
      with editors and reporters to deliver cohesive, engaging visual
      storytelling. Manage page production and press-ready files, ensuring
      accuracy and on-time publication. Contributed to the publication’s visual
      identity through logo design, illustrations, graphics, and feature photo
      treatments.
    </p>
  </div>
  <div class="project__info-R">
    <h3>Roles:</h3>
    <ul>
      <li>Editorial Layout</li>
      <li>Illustration</li>

    </ul>
  </div>
</div>

<h2>Illustration</h2>

<figure>
   <a
      href="https://www.union-bulletin.com/news/local/it-just-punishes-people-federal-rule-could-strip-asylum-seekers-of-legal-employment/article_ce4421e6-02b3-4a19-82f2-c8fa692b57de.html"
      target="_blank"
    >
      <img src="/assets/img/projects/WWUB/Pic_Asylum.jpeg" alt="" />
    </a>
    <figcaption>
       'It just punishes people': Federal rule could strip asylum seekers of legal employment [2026]
    </figcaption>
</figure>

<div class="side-by-side">
  <figure>
    <a
      href="https://www.union-bulletin.com/news/local/governments/legal-experts-sort-through-implications-of-federal-memo-for-green-card-applicants/article_6e9ca1cd-8132-4777-91a9-88d2204a5bf3.html"
      target="_blank"
    >
      <img src="/assets/img/projects/WWUB/Pic_USCIS.jpg" alt="" />
    </a>
    <figcaption>
      Legal experts sort through implications of federal memo for green card applicants [2026]
    </figcaption>
  </figure>

  <figure>
    <a
      href="https://www.union-bulletin.com/news/local/top-10-stories-of-2025-a-year-in-review-by-the-walla-walla-union-bulletin/article_ee0cd793-53e1-4662-885e-6f93c2347205.html"
      target="_blank"
    >
      <img
        src="/assets/img/projects/WWUB/Pic_Top10.jpeg"
        alt=""
      />
    </a>
    <figcaption>
      Top 10 stories of 2025: A year in review by the Walla Walla Union-Bulletin [2025]
    </figcaption>
  </figure>
</div>

<figure>
  <a
    href="https://www.union-bulletin.com/news/local/health/we-re-going-to-watch-people-die-walla-walla-valley-agencies-brace-for-medicaid-changes/article_c2b43f65-d322-4c3c-bb7d-76bcd902bab0.html"
    target="_blank"
    >
      <img src="/assets/img/projects/WWUB/Pic_MedicaidBanner.jpeg" 
      alt="">
      <figcaption>
      'We’re going to watch people die': Walla Walla Valley agencies brace for Medicaid changes [2025]
      </figcaption>
  </a>
  </figure>
<h2>Logos</h2>
<div class="side-by-side">
<img src="/assets/img/projects/WWUB/ Logo_BizNotes.jpeg" alt="">
<figure>
  <img src="/assets/img/projects/WWUB/Logo_UnCovered.jpg" alt="">

  <figcaption> Changes to Medicaid under the Big Beautiful Bill could leave residents without health insurance. In this series, the Walla Walla Union Bulletin investigates how these policy shifts could affect the most vulnerable populations in the region.</figcaption>
</figure>
</div>
  
<h2>Front page features</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/WWUB/Medicaid_A1_FinalLayout.jpg"" />
  <img src="/assets/img/projects/WWUB/Top10_A1_FinalLayout.jpg" alt="" />
</div>

<h2>Inside Layouts</h2>

<div class="side-by-side">
  <img src="/assets/img/projects/WWUB/Exp_Bygone_Oct112025_FinalLayout.jpg"" />
  <img src="/assets/img/projects/WWUB/Exp_Col_Oct2025_FinalLayout.jpg" alt="" />
  <img
    src="/assets/img/projects/WWUB/Exp_Bygone_Oct2025_FinalLayout.jpg"
    alt=""
  />
</div>
