---
layout: "layouts/project.njk"
title: "Zam Brand"
images:
  - "/assets/img/projects/Business_Card_Mockup.jpg"
  - "/assets/img/projects/IMG_5134.jpeg"
  - "/assets/img/projects/Good Loser/Good-Loser-Color-Sheet.png"
  - "/assets/img/projects/Good Loser/Good-Loser-1D---Colors.png"
order: 9
year: 2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores animi
  eveniet explicabo eos nulla quaerat, quibusdam quae porro voluptate
  reiciendis?
</p>
<h2>Process</h2>

<div class="side-by-side">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione earum
    corrupti consectetur labore, voluptatibus rerum neque quod dicta ad vero
    nesciunt! Numquam distinctio adipisci, officia, necessitatibus consectetur
    repellendus odit doloremque maiores facilis esse autem nobis itaque veniam
    quis animi dolores.
  </p>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, odit!
    Eligendi illum inventore laudantium dicta qui repudiandae optio
    reprehenderit veritatis odio iure quibusdam delectus nemo tempora nisi,
    consequatur ipsa, velit quaerat, quisquam pariatur nam. Odit?
  </p>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
