---
layout: "layouts/project.njk"
title: "Zam Brand"
subtitle: A peek into Zam's personal branding.
images:
  - "/assets/img/projects/Zam Brand/Business_Card_Mockup.jpg"
  - "/assets/img/projects/Zam Brand/ZAM BRAND YAS.jpeg"
  - "/assets/img/projects/Zam Brand/ZAM 2.jpeg"

order: 9
year: 2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<p>Personal self branding.</p>
<h2>Process</h2>

<div class="side-by-side">
  <p>
    Creating the Zam brand was quite fun as i got to choose what I wanted people
    to know about me from a card and other hiring materials.
  </p>
  <img src="/assets/img/projects/Zam Brand/Matchbox horisontal 2.jpeg" alt="" />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, odit!
    Eligendi illum inventore laudantium dicta qui repudiandae optio
    reprehenderit veritatis odio iure quibusdam delectus nemo tempora nisi,
    consequatur ipsa, velit quaerat, quisquam pariatur nam. Odit?
  </p>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
